.border {
	border: 4px solid black;
}

#logo img {
	width:3em;
	float:left;
}

#logo h1 {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:italic;
}

textarea {
	resize: none;
	display: block;
	background-color: #F5F5FF;
}

fieldset {
	background-color: #AACCFF;
}

#nuser {
	display:none;
}

.menu {
	background-color: #00E0FF;
	position:fixed;
	top:0;
	right:0;
	border: 2px solid black;
}

.unpad_list {
	list-style-type:none;
	margin-left: 6px;
	padding:0;
}

body {
	background-image:url('images/bg.jpg');
	text-shadow: 0px 0px 10px white,
		0px 0px 10px white,
		0px 0px 20px white,
		0px 0px 20px white;
}

#m {
	display:none;
}

.imen {
	padding:.5em;
}

.profiles img {
	width:100px;
	height:auto;
	margin:5px;
	padding:0px;
}

#friend_form input {
	position:relative;
	top:-30px;
}

#edit_info {
	display:none;
}

#search {
	float:right;
	margin:1.5em;
}

.block {
	display: block;
	width: 100px;
}

.inline {
	display: inline;
}

.vert_center {
	vertical-align: 50%;
}

.buffer {
	margin: 3px;
}
