textarea {
	resize: none;
	display: block;
	background-color: #F5F5FF;
}

fieldset {
	background-color: #CCCCEE;
}

#nuser {
	display:none;
}

.menu {
	background-color: #00E0FF;
	position:fixed;
	top:0;
	right:0;
	border: 2px solid black;
}

ul {
	list-style-type:none;
	margin-left: 6px;
	padding:0;
}

#m {
	display:none;
}

.imen {
	padding:.5em;
}

.profiles img {
	width:100px;
	height:auto;
	margin:5px;
	padding:0px;
}

#friend_form input {
	position:relative;
	top:-30px;
}

#edit_info {
	display:none;
}

#search {
	float:right;
	margin:1.5em;
}
