textarea {
	resize: none;
	display: block;
	background-color: #F5F5FF;
}

fieldset {
	background-color: #CCCCEE;
}

#nuser {
	display:none;
}

#menu {
	background-color:aqua;
	position:fixed;
	top:0;
	right:0;
}

#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.profiles img {
	float:left;
	width:100px;
	height:auto;
	margin:0px;
	padding:0px;
}

#edit_info {
	display:none;
}
